.login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ccb5b5;
}

.login-img-container{
    width:45%;
    overflow: hidden;
}

.loginp-img-container img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.login-conten-container{
    width:50%;
}

.conten-wrapper{
    padding-right: 3rem;
}

.conten-wrapper h2{
    padding-bottom: 1rem;
    font-size: 2rem;
}