.conta {
  margin-top: 100px;
  background-color: white;
}

.contains {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two cards per row */
  gap: 30px; /* Gap between the cards */
  justify-content: space-between;
}

.cardsii {
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(30, 219, 197, 0.1);
  overflow: hidden;
  margin: 20px;
  text-align: left;
  width: 100%;
}

.card-cont {
  padding: 20px;
  flex: 1;
}

.card-cont h2 {
  font-size: 1.5rem;
  color: #efe0e0;
  margin-bottom: 10px;
}

.card-cont p {
  font-size: 1rem;
  color: #ebdbdb;
  margin-bottom: 20px;
}

.card-button {
  background-color: rgb(222, 40, 101);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: rgb(222, 40, 101);
}

.cardsii-image {
  width: 200px;
  height: auto;
  border-left: 1px solid #ddd;
}

/* Responsive design */
@media (max-width: 768px) {
  .contains {
    grid-template-columns: 2fr; /* One card per row on smaller screens */
  }
}
